{% extends 'pages/base.jinja' %}

{% block title %}
    Flask demo - About
{% endblock %}

{% block content %}

    <h2>Sorry, you seem to have found youself in un usual spot...</h2>

    <p>
        <a herf="/" role='button'>Go to the home page </a>
    </p> 
{% endblock %}


