<!DOCTYPE html>

<html lang="eng">



    <head>
        <meta charset="utf-8"
        <title>{% block title %}{% endblock %}</title>
        
        <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.lime.min.css">
    </head>
<body>
    <header> 
        <nav>
        <ul>
        <li><a></a> href="/">Home</a></li>
        <li><a></a> href="/"></a></li>
        <li><a></a> href="/">about</a></li>
        </ul>

        </nav>
    </header>

    {%block content%}
    {% endblock %}

</body>

</html>