{% extends 'pages/base.jinja' %}

{% block title %}
    Flask demo - hello
{% endblock %}

{% block content %}

    <h1>Hello, World!</h1>

    <p>this is my first flask web or somthin...</p>
{% endblock %}


